:root {
    --corTemplateAzulEscuro: #1BAFD8;
    --corTemplateAzulClaro: #39C0E5;
    --corBotaoAmarelo: #FDB913;
    --corTransicaoBotaoAmarelo: #CFB337;
    --corAgendeUmaVisita: #007BFF;
    --corOQueProcura: #22B4DA;
    --corWhatsApp: #1DC33B;
    --fonteAzulPadrao: #4AC4E5;
    --fonteBrancaPadrao: #ffff;
    --fonteNossosProdutos: #8888A4;
}